body {
    padding: 0;
    margin: 0;
  }
  
  nav {
    background-color: #455a64 !important;
  }

.navbar-brand {
  color: white !important;
  margin: 0 auto !important;
}
  #map-container {
    height: 550px;
  }

  #mapid {
    height: 550px;
  }
  
  .leaflet-popup-content {
    text-align: center;
  }
  
  .parallax-marker.label {
    display: block;
    font-weight: bold;
    color: rgb(98, 56, 128);
    text-align: center;
    text-shadow: rgb(255, 255, 255) 1px 0 1px, rgb(255, 255, 255) -1px 0 1px, rgb(255, 255, 255) 0 -1px 1px, rgb(255, 255, 255) 0 1px 1px;
    text-transform: uppercase;
  }
  
  .parallax-marker.label.huge {
    font-size: 96px;
    color: rgba(185, 157, 185, 0.39);
    text-shadow: none;
  }
  
  .parallax-marker.label.big {
    font-size: 24px;
  }
  
  .parallax-marker.label.medium {
    font-size: 16px;
    font-weight: normal;
    color: rgb(121, 85, 125);
  }
  
  .parallax-marker.label.small {
    font-size: 12px;
    font-weight: normal;
    color: rgb(137, 128, 144);
    text-transform: none;
  }
  
  h4, h5 {
    text-align: center;
  }

  .brand-logo {
    font-size: 1.5rem !important;
  }

  select {
    display: block !important;
  }

  select:focus {
    box-shadow: none !important;
    outline: none !important;
  }

  .leaflet-tooltip{
    width: 160px !important;
    white-space: normal !important; 
  }

  p {
    padding: 0rem;
    margin: 0rem;
    text-align: center !important;
  }

  h6 {
    text-align: center !important;
    color: black !important;
  }

hr {
  padding: 0rem !important;
  margin: 0rem 0rem 0.5rem 0rem !important;
}
.ag-body-horizontal-scroll-viewport {
    overflow-x: none !important;
}

canvas {
  height: 325px !important;
}


@media only screen and (max-width: 768px) {
  .brand-logo {
    font-size: 1rem !important;
  }
}

.legend {
  line-height: 9px;
  color: #555;
  background-color: #fff;
  border-radius: 5px;
  padding: 7px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.legend i {
  width: 18px;
  height: 18px;
  padding: 0rem !important;
  display: inline-block;
  margin-right: 8px;
  opacity: 0.7;
}

.legendLabel {
  text-align: left !important;
}
